<h1>Books#index</h1>
<% @books.each do |book| %>
<h3><%= book.title %></h3>
<p>Author: <%= book.author_last_name %>, <%= book.author_first_name %></p>
<p>ISBN: <%= book.isbn %></p>
<p>Condition: <%= book.condition %></p>
<p>Description: <%= book.description %></p>
<% end %>



