<div class="boxframe">
  <% if @book.errors.full_messages.any? %>
  <% @book.errors.full_messages.each do |error_message| %>
    <%= error_message if @book.errors.full_messages.first == error_message %> <br />
  <% end %>
<% end %>

    <img src="http://covers.openlibrary.org/b/isbn/<%= @book.isbn %>-M.jpg?default=false"  alt="" onerror="this.src='/assets/no-image-l.png'" style="width:178px;height:255px;"> 

    <h3 class="boxframe-title">Title: <%= @book.title %></h3>
    <p class="boxframe-subj">Author: </p>
    <p class="boxframe-desc"><%= @book.author_first_name %> <%= @book.author_last_name %></p>

    <p class="boxframe-subj">Genre(s):</p>
    <% @book.genres.each do |genre| %>
      <p class="boxframe-desc"><%= genre.name %></p>
    <% end %>

    <p class="boxframe-subj"> ISBN: </p>
    <p class="boxframe-desc"> <%= @book.isbn %></p>
    <p class="boxframe-subj">Condition:</p>
    <p class="boxframe-desc"> <%= @book.condition %></p>
    <p class="boxframe-subj">Description:</p>
    <p class="boxframe-desc"><%= @book.description %></p>
    <hr>

    <% if @book.user == current_user %>
    
      <%= link_to 'Edit Book', edit_user_book_path(@user, @book), class: "btn btn-primary" %><br /><br />
      
      <%= button_to 'Delete Book', user_book_path(@user, @book), :method => :delete, class: "btn btn-primary" %>

    <% else %>

      <p>Book Owner Email: <%= @book.user.email %></p>

      <p>Owner's Current Rating: <%= @book.user.rating %> </p>

    <% end %>

    <% if !(@trade) %> 

    <% elsif !(@trade.first_trader_id) && @book.user != current_user && current_user.shipworthy? %> 

      <%= form_for @trade do |f| %>
        <%= f.hidden_field :book_first_trader_wants_id, value: @book.id %>
        <%= f.hidden_field :second_trader_id, value: @book.user.id %>
        <%= f.hidden_field :first_trader_id, value: current_user.id %>
        <%= f.submit 'Request a Trade', :class => 'btn btn-primary' %>
      <% end %> 

    <% elsif @trade.first_trader_id  && @book.user != current_user %>

      <%= form_for @trade do |f| %>
        <%= f.hidden_field :book_second_trader_wants_id, value: @book.id %>
        <%= f.submit 'Complete a Trade', :class => 'btn btn-primary' %>
      <% end %> 
    <% end %> 

</div>















