<% if @book.status == "at_home" %>

  <img src="http://covers.openlibrary.org/b/isbn/0385472579-M.jpg?default=false"  alt="Book Cover"  style="width:178px;height:255px;"> 






  <h2>Title: <%= @book.title %></h2>
  <h3>Author: <%= @book.author_last_name %>, <%= @book.author_first_name %></h3>

  <h3>Genre(s):</h3>
  <% @book.genres.each do |genre| %>
    <h3><%= genre.name %></h3>
  <% end %>

  <h3>ISBN: <%= @book.isbn %></h3>
  <h3>Condition: <%= @book.condition %></h3>
  <h3>Description:</h3>
  <h3><%= @book.description%></h3>
  <hr>

  <% if @book.user == current_user %>
    <h2>Your Current Rating: <%= (@book.user).user_rating %>  </h2>
    <%= link_to 'Edit Book', edit_user_book_path(@user, @book), class: "btn btn-primary" %><br /><br />
    
    <%= button_to 'Delete Book', user_book_path(@user, @book), 
    data: {:confirm => 'Are you sure?'}, :method => :delete, class: "btn btn-primary" %>

  <% else %>

    <h2>Book Owner Email: <%= @book.user.email %></h2>

    <h2>Owner's Current Rating: <%= @book.user.user_rating %> </h2>

  <% end %>  

  <% if @new_trade && @book.user != current_user %>

    <%= form_for @new_trade do |f| %>
      <%= f.hidden_field :initial_book_id, value: @book.id %>
      <%= f.hidden_field :owner_id, value: @book.user.id %>
      <%= f.hidden_field :requester_id, value: current_user.id %>
      <%= f.submit 'Request a Trade' %>
    <% end %> 

  <% elsif @shared_trade && @book.user != current_user %>

    <%= form_for @shared_trade do |f| %>
      <%= f.hidden_field :matched_book_id, value: @book.id %>
      <%= f.submit 'Complete a Trade' %>
    <% end %> 

  <% end %> 
<% end %> 















