<div class="boxframe">

    <img src="http://covers.openlibrary.org/b/isbn/<%= @book.isbn %>-M.jpg?default=false"  alt="" onerror="this.src='/assets/no-image-l.png'" style="width:178px;height:255px;"> 

    <h3 class="boxframe-title">Title: <%= @book.title %></h3>
    <p class="boxframe-subj">Author: </p>
    <p class="boxframe-desc"><%= @book.author_last_name %>, <%= @book.author_first_name %></p>

    <p class="boxframe-subj">Genre(s):</p>
    <% @book.genres.each do |genre| %>
      <p class="boxframe-desc"><%= genre.name %></p>
    <% end %>

    <p class="boxframe-subj"> ISBN: </p>
    <p class="boxframe-desc"> <%= @book.isbn %></p>
    <p class="boxframe-subj">Condition:</p>
    <p class="boxframe-desc"> <%= @book.condition %></p>
    <p class="boxframe-subj">Description:</p>
    <p class="boxframe-desc"><%= @book.description%></p>
    <hr>

    <% if @book.user == current_user %>
    
      <%= link_to 'Edit Book', edit_user_book_path(@user, @book), class: "btn btn-primary" %><br /><br />
      
      <%= button_to 'Delete Book', user_book_path(@user, @book), :method => :delete, class: "btn btn-primary" %>

    <% else %>

      <p>Book Owner Email: <%= @book.user.email %></p>

      <p>Owner's Current Rating: <%= @book.user.user_rating %> </p>

    <% end %>  

    <% if @new_trade && @book.user != current_user %>

      <%= form_for @new_trade do |f| %>
        <%= f.hidden_field :initial_book_id, value: @book.id %>
        <%= f.hidden_field :owner_id, value: @book.user.id %>
        <%= f.hidden_field :requester_id, value: current_user.id %>
        <%= f.submit 'Request a Trade', :class => 'btn btn-primary' %>
      <% end %> 

    <% elsif @shared_trade && @book.user != current_user %>

      <%= form_for @shared_trade do |f| %>
        <%= f.hidden_field :matched_book_id, value: @book.id %>
        <%= f.submit 'Complete a Trade', :class => 'btn btn-primary' %>
      <% end %> 
    <% end %> 

</div>















