<% if @user && @user == current_user %>
  <p><%= button_to "Add a New Book", new_user_book_path(@user), :method => 'get', :class => 'btn btn-primary' %><p><br />
<% elsif @user %>  
  <h2><%= @user.first_name %>'s Books</h2>
<% else %>
  <%= form_tag books_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search], size: 50, placeholder: "Enter keyword (title, author, ISBN) here to search" %>
    <%= submit_tag "Search", :name => nil %>
  </p>
  <h2>Available Books: <%= @user %></h2>
  <% end %>
<% end %>


<% @books.each do |book| %>
  <% unless book.status == "traded" %>
    <%= div_for book, :class => "boxframe" do %>

      <img src="http://covers.openlibrary.org/b/isbn/<%= book.isbn %>-M.jpg?default=false"  alt="" onerror="this.src='/assets/no-image-s.png'" style="width:43px;height:60px;">
      <h3><%= book.title %></h3>
      <p>Author: <%= book.author_first_name %> <%= book.author_last_name %></p>
      <%= link_to "See More", user_book_path(book.user, book) %><br>

    <% end %>
  <% end %>
<% end %>

{{#books}}
<div class="boxframe">
<img src="http://covers.openlibrary.org/b/isbn/{{isbn}}-M.jpg?default=false"  alt="" onerror="this.src='/assets/no-image-s.png'" style="width:43px;height:60px;">
<h3>Title: {{title}}</h3>
<p>Author: {{author_first_name}} {{author_last_name}}</p></br>
<button type='button' class='btn btn-primary btn-xs show-book-btn' data-value1='{{user.id}}' data-value2='{{id}}'>Click for More</button>
</div>
{{/books}} 
<button type='button' class='btn btn-primary btn-xs load-more-books-btn'>Load More Books</button>