<div class='boxframe'><h2>Your Profile: </h2>
  <p><strong>Your Real Name:</strong> {{data.user.real_name}}</p>
  <p><strong>Your Street Address:</strong> {{data.user.street}}</p>
  <p><strong>Your City:</strong> {{data.user.city}}</p>
  <p><strong>Your State:</strong> {{data.user.state}}</p>
  <p><strong>Your Zipcode:</strong> {{data.user.zipcode}}</p>
  <p><strong>Your Role:</strong> {{data.user.role}}</p>
  <p><strong>Your Books:</strong></p>
  {{#data.books}}
   <p class="indent">{{title}}</p>
  {{/data.books}}
  <p><strong>Your email:</strong> {{data.user.email}}</p>
  <p><strong>Your Current Rating:</strong><span> {{data.rating}} out of 3 (3 is best)</p>
</div>
<button class='btn btn-warning lefty' id='edit-profile-btn' data-user={{data.user.id}} >Edit Your Profile</button><br>

{{#if data.user.visible}}
<button class='btn btn-warning lefty' id='invisible-btn' data-id={{data.user.id}} >Make yourself invisible</button>

{{else}}
<button class='btn btn-warning lefty' id='visible-btn' data-id={{data.user.id}} >Make yourself visible</button>
{{/if}}

 