<div class='boxframe'><h2>Your Profile: </h2>
  <p><strong>Your Real Name: {{user.real_name}}</strong></p>
  <p><strong>Your Street Address: {{user.street}} </strong></p>
  <p><strong>Your City: {{user.city}}</strong></p>
  <p><strong>Your State: {{user.state}}</strong></p>
  <p><strong>Your Zipcode: {{user.zipcode}} </strong></p>
  <p><strong>Your Role: {{user.role}} </strong></p>
  <p><strong>Your Books:</strong></p>
  {{#user.books}}
   <p>{{title}}</p>
  {{/user.books}}
</div>

