<div class="trades">
  <div id="trades-header">
    <h2>Your Trades:</h2>
  </div>  
  </br >
  <div class="list-group corners1" >
    <h3 class="list-group-item-heading">Trades Awaiting Your Response:</h3>
    {{#unless must.length}}
    <h4>You don't currently have any trades awaiting your response</h4>    
    {{else}}
      {{#each must}}
      <p class="list-group-item-text indent"><a href="mailto:{{first_trader.email}}subject=LibbyLibby Trade">{{first_trader.real_name}}</a> requested <b>{{book_first_trader_wants.title}}</b> from you on {{created_at}}, and is still waiting for a response.</p><br><button class="btn btn-primary btn-xs see-books-btn" data-user={{first_trader.id}}>See User's Books</button><br><br><button class="btn btn-primary btn-xs cancel-trade-btn" data-trade={{id}}>Cancel This Trade</button><hr>
      {{/each}}
    {{/unless}}
  </div>

<div class="list-group corners1" >
    <h3 class="list-group-item-heading">Trades You Requested Which Aren't Complete:</h3>
    {{#unless init.length}}
    <h4>You don't currently have any initiated trades</h4>
    {{else}}
      {{#each init}}
      <p class="list-group-item-text indent">You requested <b>{{book_first_trader_wants.title}}</b> from <a href="mailto:{{second_trader.email}}subject=LibbyLibby Trade">{{second_trader.real_name}}</a> on {{created_at}}, and you're still waiting for a response.</p><br><button class="btn btn-primary btn-xs cancel-trade-btn" data-trade={{id}}>Cancel This Trade</button><hr>
      {{/each}}
    {{/unless}}
  </div>


  <div class="list-group corners1" >
  <h3 class="list-group-item-heading">Completed Trades:</h3>
  {{#unless compInit.length}}
    <h4>You don't currently have any completed trades initiated by you</h4>
  {{else}}
    <h4>Here are some completed trades you initiated:</h4>

    {{#each compInit}}
    <p class="list-group-item-text indent">You requested <strong>{{book_first_trader_wants.title}}</strong> on {{created_at}}, and <a href="mailto:{{second_trader.email}}subject=LibbyLibby Trade">{{second_trader.real_name}}</a> requested <strong>{{book_second_trader_wants.title}}</strong> from you on {{updated_at}}.</p>

      <p class="indent">Be sure you mail the book to: </p>
      <div class="address">
        <p class="small">
          {{second_trader.real_name}}</br>
          {{second_trader.street}}</br>
          {{second_trader.city}}</br>
          {{second_trader.state}}</br>
          {{second_trader.zipcode}}</br>
        </p>
      </div>
      {{#unless second_trader_rating}}
        <div class="rating list-group-item-text">    
        <p>You can rate the user below, based on the book condition, shipping time, etc., once you get your book:</p>
        <div class="radio_field rating">
          <label for="user_rating_3">The book arrived in a reasonable amount of time and as described</label>
          <input type="radio" value="3" name="user_review" id="user_review_3" /><br />
          <label for="user_rating_2">There were some problems which were eventually resolved</label>
          <input type="radio" value="2" name="user_review" id="user_review_2" /><br />
          <label for="user_rating_1">The book never arrived/was in awful condition</label>
          <input type="radio" value="1" name="user_review" id="user_review_1" /><br /><br />
          <button class="rate-trader2-btn btn btn-primary btn-xs" data-trade={{id}}>Rate This Trader</button> 
        </div>
        </div>
        {{/unless}} 
      <hr>
    {{/each}}
  {{/unless}}
 
 

  {{#unless compResp.length}}
    <h4>You don't currently have any completed trades someone else initiated</h4>
  {{else}}
    <h4>Here are some completed trades someone else initiated:</h4>

    {{#each compResp}}
    <p class="list-group-item-text indent"><a href="mailto:{{first_trader.email}}subject=LibbyLibby Trade">{{first_trader.real_name}}</a> requested <strong>{{book_first_trader_wants.title}}</strong> from you on {{created_at}}, and you requested <strong>{{book_second_trader_wants.title}}</strong> for it on {{updated_at}}.</p><br />

      <p class="indent">Be sure you mail the book to: </p>
      <div class="address">
        <p class="small">
          {{first_trader.real_name}}</br>
          {{first_trader.street}}</br>
          {{first_trader.city}}</br>
          {{first_trader.state}}</br>
          {{first_trader.zipcode}}</br>
        </p>
      </div>
  
      {{#unless first_trader_rating}}
        <div class="rating list-group-item-text indent">    
        <p>You can rate the user below, based on the book condition, shipping time, etc., once you get your book:</p>
        <div class="radio_field rating">
          <label for="user_rating_3">The book arrived in a reasonable amount of time and as described</label>
          <input type="radio" value="3" name="user_review" id="user_review_3" /><br />
          <label for="user_rating_2">There were some problems which were eventually resolved</label>
          <input type="radio" value="2" name="user_review" id="user_review_2" /><br />
          <label for="user_rating_1">The book never arrived/was in awful condition</label>
          <input type="radio" value="1" name="user_review" id="user_review_1" /><br />
          <button class="rate-trader1-btn btn btn-primary btn-xs" data-trade={{id}}>Rate This Trader</button> 
        </div>
        </div>
        {{/unless}} 
      <hr>
    {{/each}}
  {{/unless}}
  </div>








