<div class="boxframe">
<img src="http://covers.openlibrary.org/b/isbn/{{isbn}}M.jpg?default=false" alt='bookcover' onerror="this.src='/assets/no-image-l.png'" style="width:178px;height:255px;">

<h3 class='boxframe-title'>Title: {{book.title}}</h3>  
<p class='boxframe-subj'>Author: </p>
<p class='boxframe-desc'>{{book.authorFullName}}</p>
<p class='boxframe-subj'>Genre(s):</p>

<p class='boxframe-subj'> ISBN: </p>
<p class='boxframe-desc'>{{book.isbn}}</p>
<p class='boxframe-subj'>Condition:</p>
<p class='boxframe-desc'>{{book.condition}}</p>
<p class='boxframe-subj'>Description:</p>
<p class='boxframe-desc'>{{book.description}}</p>
  <button type="button" class="btn btn-primary btn-xs" data-user={{book.user_id}} data-book={{book.id}} id="trade-request-btn">Suggest a Trade</button>
</div>
<hr>
  