<div class="boxframe">
<img src="http://covers.openlibrary.org/b/isbn/{{isbn}}M.jpg?default=false" alt='bookcover' onerror="this.src='/assets/no-image-l.png'" style="width:178px;height:255px;">

<h3 class='boxframe-title'>Title: {{book.title}}</h3>  
<p class='boxframe-subj'>Author: </p>
<p class='boxframe-desc'>{{book.author_first_name}} {{book.author_last_name}}</p>
<p class='boxframe-subj'>Genre(s):</p>

<p class='boxframe-subj'> ISBN: </p>
<p class='boxframe-desc'>{{book.isbn}}</p>
<p class='boxframe-subj'>Condition:</p>
<p class='boxframe-desc'>{{book.condition}}</p>
<p class='boxframe-subj'>Description:</p>
<p class='boxframe-desc'>{{book.description}}</p>
Put edit, delete button here 
</div>
