<div class="boxframe">
  <img src="http://covers.openlibrary.org/b/isbn/{{book.isbn}}-M.jpg?default=false" alt='bookcover' onerror="this.src='/assets/no-image-l.png'" style="width:178px;height:255px;">

  <h3 class='boxframe-title'>{{book.title}}</h3>
  <p class='boxframe-subj'>Author: </p>
  <p class='boxframe-desc'>{{book.authorFullName}}</p>
  <p class='boxframe-subj'>Genre(s):</p>
  {{#each book.genres}}
  <p class='boxframe-desc'>{{this.name}}</p>
  {{/each}}

  <p class='boxframe-subj'> ISBN: </p>
  <p class='boxframe-desc'>{{book.isbn}}</p>
  <p class='boxframe-subj'>Condition:</p>
  <p class='boxframe-desc'>{{book.condition}}</p>
  <p class='boxframe-subj'>Description:</p>
  <p class='boxframe-desc'>{{book.description}}</p>


  {{#unless trade}}<!-- first option occurs when user views own book -->
    <button type="button" class="btn btn-primary btn-xs" data-user={{book.user_id}} data-book={{book.id}} id="edit-book-btn">Edit This Book</button>
    <button type="button" class="btn btn-primary btn-xs" data-user={{book.user_id}} data-book={{book.id}} id="delete-book-btn" onclick = "return confirm('are you sure?')">Delete This Book</button>
  {{else if trade.id}}<!-- trade to be completed -->
    <div class='boxframe-subj' id='trader1-rating'>Trader's Rating: <img class="star-rating" src={{other_trader_rating}} alt="star_rating">
    </div><br>
    <button type="button" class="btn btn-primary btn-xs complete-trade-btn" data-trade={{trade.id}} data-book={{book.id}} >Complete a Trade</button>
  {{else}} <!-- trade to be initialized -->
    <div class='boxframe-subj' id='trader2-rating'>Trader's Rating: <img class="star-rating" src={{other_trader_rating}} alt="star_rating">
    </div><br>
    <button type="button" class="btn btn-primary btn-xs" data-trader1={{trade.first_trader_id}} data-trader2={{book.user_id}}  data-book={{book.id}} data-title={{book.title}} id="request-trade-btn">Request a Trade</button>
  {{/unless}}

</div>
<hr>
