<div class='boxframe'><h2>User's Profile: </h2>
  <p><strong>Real Name:</strong> {{data.user.real_name}}</p>
  <p><strong>Street Address:</strong> {{data.user.street}}</p>
  <p><strong>City:</strong> {{data.user.city}}</p>
  <p><strong>State:</strong> {{data.user.state}}</p>
  <p><strong>Zipcode:</strong> {{data.user.zipcode}}</p>
  <p><strong>Role:</strong> {{data.user.role}}</p>
  <p><strong>Books:</strong></p>
  {{#data.books}}
   <p class="indent">{{title}}</p>
  {{/data.books}}
  <p><strong>email:</strong> {{data.user.email}}</p>
  <p><strong>Current Rating: </strong><span><img class="star-rating" src={{data.rating}} alt="star_rating"></p>
</div>
{{#if data.user.visible}}
<button class='btn btn-warning center' id='invisible-btn' data-id={{data.user.id}} >Make this user invisible</button>
{{else}}
<button class='btn btn-warning center' id='visible-btn' data-id={{data.user.id}} >Make this user visible</button>
{{/if}}
