<h1>Your Trades</h1>

<h2>Trades Awaiting Your Response:</h2>

<% if !(@accepted_trades).empty? %>

  <% @accepted_trades.each do |trade| %>
    <p><%= trade.requester %> requested <%= trade.initial_book.title %> from you, and he/she is still waiting for your response/trade</p>
    <%= link_to "See User's Books", user_books_path %>
  <% end %>

  <% else %>
  <p>You don't currently have any pending trades</p>
<% end %>


<h2>Trades You Requested Which Aren't Complete:</h2>

<% if !(@requested_trades).empty? %>

  <% @requested_trades.each do |trade| %>
    <p>You requested <%= trade.initial_book.title %> from <%= trade.owner %> and you're still waiting for a response</p>
  <% end %>

  <% else %>
  <p>You don't currently have any requested trades</p>
<% end %>


<h2>Completed Trades:</h2>


<% if !(@my_completed_accepted_trades).empty? || !(@my_completed_requested_trades).empty? %>

  <% @my_completed_accepted_trades.each do |trade| %>
    <p><%= trade.requester %> requested <%= trade.initial_book.title %> from you, and you traded <%= trade.matched_book.title %> for it</p>
  <% end %>

  <% @my_completed_requested_trades.each do |trade| %>
    <p>You requested <%= trade.initial_book.title %> from <% tradeowner %>, and he/she traded <%= trade.matched_book.title %> for it</p>
  <% end %>

  <% else %>
  <p>You don't currently have any completed trades</p>
<% end %>

