<header>
      
<div class="container"
  <div class="navbar-text">

  <% if user_signed_in? %>
    Signed in as <strong><%= current_user.email %></strong> |
    <%= link_to "Sign out", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
    <%= link_to "Sign in", new_user_session_path, :class => 'navbar-link'  %> |
    <%= link_to image_tag('fb-favicon.ico'), user_facebook_omniauth_authorize_path, :class => 'navbar-link' %>
  <% end %>
  
  </div>
</div>

  <% if current_user && current_user.admin? %>
  <div class="corners2">
    <h3>*** ADMINISTRATOR ***</h3>
    <button id="view-users-btn" >View All Users</button>
  </div>
    

  <% elsif current_user && current_user.mod? %>
  <div class="corners2 center">
    <h3>*** MODERATOR ***</h3>
    <button id="view-users-btn" >View All Users</button>
  </div>  

  <% end %>

  <% if current_user %>

  <hr>
  <div class="container" id="nav-buttons">
    <div class="row row-centered">
      <input class="col-md-4 col-centered click-btn" src='/assets/all-books-1.png' id="all-books-btn" type="image" value=" "> 
      <input class="col-md-4 col-centered click-btn" src='/assets/my-profile-1.png' data-id="<%= current_user.id %>" id="my-profile-btn" type="image" value=" "> 
      <input class="col-md-4 col-centered click-btn" src='/assets/my-books-1.png' data-id="<%= current_user.id %>" id="my-books-btn" type="image" value=" "> 
      <input class="col-md-4 col-centered click-btn" src='/assets/my-trades-1.png' data-id="<%= current_user.id %>" id="my-trades-btn" type="image" value=" ">
    </div>
  </div>

  <% end %>

</header>
<hr>


