<header>
      
<div class="container"
      <div class="navbar-text">

  <% if user_signed_in? %>
    Signed in as <strong><%= current_user.email %></strong> |
    <%= link_to "Sign out", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
    <%= link_to "Sign in", new_user_session_path, :class => 'navbar-link'  %> |
    <%= link_to image_tag('fb-favicon.ico'), user_facebook_omniauth_authorize_path, :class => 'navbar-link' %>
  <% end %>
</div>
</div>

  <% if current_user && current_user.admin? %>
  <nav class="admin_nav">
    <h2>***ADMIN***</h2>
    <ul>
      <li><%= link_to "View/Edit Users", users_path %> </li>
    </ul>

  <% elsif current_user && current_user.mod? %>
  <nav class="mod_nav">
    <h2>***MOD***</h2>
    <ul>
      <li><%= link_to "View Users", users_path %> </li>
    </ul>
  <% end %>

  <% if current_user %>

  <hr>
  <div class="container-fluid centered">
  <input type="image" class="col-md-3 click-btn" id="all-books-btn" <%= image_tag "all-books-btn.png" %>
  <input type="image" class="col-md-3 click-btn" id="my-profile-btn" data-id="<%= current_user.id %>" <%= image_tag "my-profile-btn.png" %>
  <input type="image" class="col-md-3 click-btn"id="my-books-btn" data-id="<%= current_user.id %>" <%= image_tag "my-books-btn.png" %>
  <input type="image" class="col-md-3 click-btn"id="my-trades-btn" data-id="<%= current_user.id %>" <%= image_tag "my-trades-btn.png" %>
  </div>



    <nav class="logged_in_nav">
        <ul>
          <li> <%= link_to "See My Profile", user_path(current_user) %> </li>
          <li> <%= link_to "Browse All Books", books_path %> </li>
          <li> <%= link_to "See My Books", user_books_path(current_user.id) %> </li>
          <li> <%= link_to "See My Trades", trades_path %> </li>
      </ul>
    </nav> 
  <% end %>

</header>
<hr>


