<% if current_user && current_user.admin? %>
<nav class="admin_nav">
  <h2>***ADMIN***</h2>
  <ul>
    <li><%= link_to "View/Delete Users", users_path %> </li>
  </ul>

<% elsif current_user && current_user.mod? %>
<nav class="mod_nav">
  <h2>***MOD***</h2>
  <ul>
    <li><%= link_to "View Users", users_path %> </li>
  </ul>
<% end %>

<% if current_user %>
  <nav class="logged_in_nav">
      <ul>
        <li> <%= link_to "See My Profile", user_path(current_user) %> </li>
        <li> <%= link_to "Browse All Books", books_path %> </li>
        <li> <%= link_to "See My Books", user_books_path(current_user.id) %> </li>
        <li> <%= link_to "See My Trades", trades_path %> </li>
    </ul>
  </nav> 
<% end %>
<hr>


<!--   <%= link_to user_path(current_user) do %>
<%= image_tag 'no-image-l.png', alt: 'test' %>
<% end %> -->