<!DOCTYPE html>
<html>
  <head>
    <title>LibbyLibby</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
  <div id="banner">
    <div id="wrapper">
        <div id="container">
                <img class="banner-img-large" <%= image_tag "banner1.png" %> 
        </div>
    </div>
  </div>


    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
         <script type="text/javascript" charset="utf-8">
  $(function() {
    $("#profile").on('click', function() {
      var personId = this.getAttribute('data-id');
      var url = "http://localhost:3000/users/" + personId + ".json";
      var html = '<div class="profile"><div class="profile_heading">Profile</div>'
      $.ajax({
        dataType: "json",
        url: url,
        success: function(data) {
          for (var key in data) {
            var value = data[key];
            html += '<div>' + key + ': ' + value + '</div>'
          }
          html += '</div>'
          $("#myProfile").append(html);
        }
      });
    });
  });
  </script>
  </head>

  <%= render 'layouts/header' %>

  <body>
    <%= yield %>
  </body>
  <footer>
    <div class='little-text'>
    </br >
    <hr>
      Images Provided by <a href="http://www.openlibrary.org">The Open Library Project</a> 
    </div>
  </footer>
</html>
