<!DOCTYPE html>
<html>
  <head>
    <title>LibbyLibby</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
  <div id="banner">
    <div id="wrapper">
        <div id="container">
                <img class="banner-img-large" <%= image_tag "banner1.png" %> 
        </div>
    </div>
  </div>
  <p class="navbar-text pull-right">

  <% if user_signed_in? %>
    Signed in as <strong><%= current_user.email %></strong> |
    <%= link_to "Sign out", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
    <%= link_to "Sign in", new_user_session_path, :class => 'navbar-link'  %> |
    <%= link_to image_tag('fb-favicon.ico'), user_facebook_omniauth_authorize_path, :class => 'navbar-link' %>
  <% end %><br>
  <%= render 'layouts/header' %>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
  </head>

  <body>
    <%= yield %>
  </body>
  <footer>
    <div class='little-text'>
    </br >
    <hr>
      Images Provided by <a href="http://www.openlibrary.org">The Open Library Project</a> 
    </div>
  </footer>
</html>
